---
BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 100

PenaltyBreakAssignment: 1000

AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: true
AllowShortEnumsOnASingleLine: false

ReflowComments: false
AlignTrailingComments: false

NumericLiteralCase:
  ExponentLetter:  Lower
  HexDigit:        Upper
  Prefix:          Lower
  Suffix:          Leave
